/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body Styles */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #b9d9eb;
}

/* Navigation Styles */

.nav {
  display: flex;
  height: 75px;
  justify-content: center;
  background-color: #007fff;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* Sidebar Styles */

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 50%;
  z-index: 999;
  background-color: #007fff;
  box-shadow: -10px 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sidebar li {
  width: 100%;
  padding: 30px;
}

#sidebar li:hover {
  background-color: #0071e2;
  cursor: pointer;
}

/* General Styles */

li {
  cursor: pointer;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Brand Styles */

.nav-brand {
  font-size: xx-large;
}

.menu-button {
  display: none;
}

/* Responsive Styles */

@media (max-width: 400px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

/* Background Styles */

#background {
  background-image: url("../assets/scottish-football-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

/* Hero Section Styles */

.hero {
  text-align: center;
  margin: 50px 0;
}

.hero-inner {
  text-align: center;
  margin: 15px;
}

.hero-button {
  background-color: rgb(82, 199, 82);
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.hero-button:hover {
  cursor: pointer;
  background-color: rgb(113, 194, 113);
}

.hero-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero-inner h1 {
  font-size: 2.5em;
  color: #fff;
}

.hero-inner p {
  color: #fff;
}

/* Footer Styles */

.footer {
  background-color: #f0f8ff;
  width: 100%;
  bottom: 0;
}

.footer div {
  text-align: center;
}

.footer a {
  color: #40826d;
}

/* Players Page Styles */

.players-page-container {
  height: fit-content;
}

.team-player-hero {
  margin: 25px;
}

.team-player-hero-h1 {
  font-size: 3em;
}

.word-highlight {
  color: #0071e2;
}

#players-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  gap: 15px;
}

#players-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

#player-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-height: 500px;
}

#player-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-form input {
  padding: 12px;
  max-width: 300px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 6px;
}

/* Teams Page Styles */

#teams-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team-card {
  height: 20%;
  width: 20%;
  margin: 20px;
  padding: 2rem 1rem;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}

.team-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.team-card h2 {
  font-size: 1.5em;
  color: #f0ead6;
}

/* Teams Table Styles */

#teams-table {
  border-collapse: collapse;
  width: 60%;
}

#teams-tbody {
  border: 2px solid #ddd;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#teams-tr {
  background-color: #b2beb5;
}

#teams-td:hover {
  cursor: pointer;
  background-color: dimgray;
}

/* Table Styles */

.player-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  background-color: #0071e2;
  color: white;
}

.player-table th,
.player-table td {
  padding: 8px;
  text-align: center;
}

.player-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.player-table tr:hover {
  background-color: #ddd;
}

/* Load More Button Styles */

#load-more {
  background-color: #0071e2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

/* Loader Styles */

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
